<!DOCTYPE html>
<html lang="en">
<head>
    <script src="jquery-3.6.1.js"></script>
    <script src="underscore-umd.js"></script>
    <script src="backbone.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="content"></div>

    <script type="text/template" id="my-template">
        Name: <%= name %> and author <%= author %>
    </script>

    <script>
        let Model = Backbone.Model.extend();
        let modelObj = new Model({
            name: "Online web tutor",
            author: "Sanjay Kumar"
        })
        let ModelView = Backbone.View.extend({
            template: _.template($("#my-template").html()), // external template
            el: "#content",
            model: modelObj,
            initialize: function() {
                this.render();
            },
            render: function() {
                console.log('View created');
                this.$el.html(this.template(this.model.toJSON()))
            }
        });

        let mview = new ModelView();
    </script>
    
</body>
</html>